﻿body {
    background: -webkit-linear-gradient(#EFF5FB, #A4A4A4) fixed;
    background: -moz-linear-gradient(#EFF5FB, #A4A4A4) fixed;
    background: -o-linear-gradient(#EFF5FB, #A4A4A4) fixed;
}

.cabezaRutina {
    padding: 3% 2%;
    background-color: #8181F7;
    height: 20px;
    text-decoration: dashed;
    background: -webkit-linear-gradient(#8181F7, #E6E6E6);
    background: -moz-linear-gradient(#A9D0F5, #E6E6E6);
    background: -o-linear-gradient(#8181F7, #E6E6E6);
    border-radius: 5px;
}

.cabeza {
    padding: 3% 2%;
    background-color: #8181F7;
    height: 20px;
    text-decoration: dashed;
    background: -webkit-linear-gradient(#8181F7, #E6E6E6);
    background: -moz-linear-gradient(#A9D0F5, #E6E6E6);
    background: -o-linear-gradient(#8181F7, #E6E6E6);
    border-radius: 5px;
}

a {
    text-decoration: -moz-none;
    text-decoration: none;
}

.cabezaBotones span {
    text-shadow: 2px 2px 2px white, 0 0 30px red, 0 0 45px white;
    font-size: 30px;
}

    .cabezaBotones span:hover {
        text-shadow: 2px 2px 2px white, 0 0 10px white, 0 0 45px white;
    }

.imagenesRutina {
    margin-left: -900px;
    margin-top: 50px;
}

    .imagenesRutina img {
        border-radius: 10px;
    }

.slideDescription, .slideTitle {
    text-shadow: 2px 2px 2px white, 0 0 30px red, 0 0 45px white;
    font-size: 20px;
}

.descripcionRutina {
    width: 300px;
    margin-left: 700px;
    margin-top: -350px;
    text-shadow: 1px 1px 1px white, 0 0 200px red, 0 0 45px white;
    font-size: 20px;
}


.entradas {
    padding: 10px;
    border: solid 5px #c9c9c9;
    box-shadow: inset 0 0 0 1px #707070;
    transition: box-shadow 0.3s, border 0.3s;
    border-radius: 5px;
}

    .entradas:focus,
    .entradas.focus {
        border: groove 5px #969696;
        border-radius: 5px;
        box-shadow: 10px 10px 5px grey;
        transform: rotate(1deg);
    }

.entradas {
    border: thick;
}

#ContentPlaceHolder1_Nombre {
    padding: 10px;
    border: solid 5px #c9c9c9;
    box-shadow: inset 0 0 0 1px #707070;
    transition: box-shadow 0.3s, border 0.3s;
    border-radius: 5px;
}

    #ContentPlaceHolder1_Nombre:focus,
    #ContentPlaceHolder1_Nombre.focus {
        border: groove 5px #969696;
        border-radius: 5px;
        box-shadow: 10px 10px 5px grey;
        transform: rotate(1deg);
    }

#ContentPlaceHolder1_Nombre {
    border: thick;
}


.contenedorDatos {
    background: black;
    opacity: 0.5;
    width: 700px;
    border-radius: 5px;
    margin: auto;
    margin-top: 100px;
    box-shadow: 10px 10px 5px grey;
    height: 320px;
}

    .contenedorDatos section {
        padding: 10px;
    }

    .contenedorDatos #sectNombre {
        text-align: center;
        height: 50px;
    }


.contenedorDatosSocios {
    background: #afb4b7;
    opacity: 0.7;
    width: 700px;
    border-radius: 5px;
    margin: auto;
    margin-top: 100px;
    box-shadow: 10px 10px 5px grey;
    height: auto;
    text-shadow: 2px 2px 2px white, 0 0 30px red, 0 0 45px white;
    font-size: 20px;
}

    .contenedorDatosSocios section {
        padding: 10px;
        text-align: center;
    }

#secttelefono {
    width: 50%;
    margin-left: -10px;
}



#sectnacimiento {
    width: 50%;
    margin-top: -45px;
    margin-left: 350px;
}

#sectpeso {
    width: 50%;
    margin-left: -10px;
}

#sectritmocardiaco {
    width: 50%;
    margin-top: -45px;
    margin-left: 350px;
}

#sectbrazorelajado {
    width: 50%;
    margin-left: -10px;
}

#sectbrazotenso {
    width: 50%;
    margin-top: -45px;
    margin-left: 350px;
}

#sectantebrazo {
    width: 50%;
    margin-left: -10px;
}

#sectmuslo {
    width: 50%;
    margin-top: -45px;
    margin-left: 350px;
}

#sectpechonormal {
    width: 50%;
    margin-left: -10px;
}

#sectpechohinchado {
    width: 50%;
    margin-top: -45px;
    margin-left: 350px;
}

#sectgemelos {
    width: 50%;
    margin-left: -10px;
}

#sectcintura {
    width: 50%;
    margin-top: -45px;
    margin-left: 350px;
}

#sectcadera {
    width: 50%;
    margin-left: -10px;
}

#sectporcetajegrasa {
    width: 50%;
    margin-top: -45px;
    margin-left: 350px;
}

#sectIMC {
    width: 50%;
    margin-left: -10px;
}

#sectUltimaLectura {
     width: 50%;
    margin-top: -45px;
    margin-left: 350px;
}

#ContentPlaceHolder1_Nombre {
    width: 400px;
    margin: auto;
}


#ContentPlaceHolder1_Nombre {
    width: 400px;
    margin: auto;
}


#ContentPlaceHolder1_urlRutinas,
#ContentPlaceHolder1_dropSeries,
#ContentPlaceHolder1_dropRepeticion,
#ContentPlaceHolder1_dropDescanso,
#ContentPlaceHolder1_dropModo,
#ContentPlaceHolder1_dropTiempo {
    padding: 10px;
    border: solid 5px #c9c9c9;
    box-shadow: inset 0 0 0 1px #707070;
    border-radius: 5px;
}


#sectSeries {
    width: 100px;
    margin-left: 10px;
}

#sectTiempo {
    width: 100px;
    margin-left: 170px;
}


#sectRepeticiones {
    width: 100px;
    margin-top: -50px;
    margin-left: 150px;
}

#sectDescanso {
    width: 100px;
    margin-top: -50px;
    margin-left: 350px;
}

#sectModo {
    width: 100px;
    margin-top: -50px;
    margin-left: 550px;
}

#SectAceptar {
    width: 100px;
    margin-top: -20px;
}

#ContentPlaceHolder1_Button1,
#Button1 {
    width: 100px;
    margin-left: 10px;
    padding: 10px;
    box-shadow: inset 0 0 0 1px #707070;
    transition: box-shadow 0.3s, border 0.3s;
    border-radius: 5px;
}

    #ContentPlaceHolder1_Button1:focus,
    #ContentPlaceHolder1_Button1.focus {
        border-radius: 5px;
        box-shadow: 10px 10px 5px grey;
    }


.tablaMantenimientos {
    margin: auto;
    margin-top: 30px;
}

#ContentPlaceHolder1_gvHipertrofia,
#ContentPlaceHolder1_gvCardio,
#ContentPlaceHolder1_gvTrainer{
    margin: auto;
    width: 700px;
    box-shadow: 10px 10px 5px grey;
}


.contenedorDieta {
    background: #afb4b7;
    opacity: 0.7;
    width: 400px;
    border-radius: 5px;
    margin: auto;
    margin-top: 100px;
    box-shadow: 10px 10px 5px grey;
    height: auto;
    text-shadow: 2px 2px 2px white, 0 0 30px red, 0 0 45px white;
    font-size: 20px;
    margin-left: 30px;
    margin-top: -300px;
}

    .contenedorDieta section {
        padding: 10px;
        text-align: center;
    }

#descripcionDieta {
    text-align: justify;
    padding: 40px;
}


.contenedorRutinas {
    background: #afb4b7;
    opacity: 0.7;
    width: 700px;
    border-radius: 5px;
    margin: auto;
    margin-top: 100px;
    box-shadow: 10px 10px 5px grey;
    height: auto;
    text-shadow: 2px 2px 2px white, 0 0 30px red, 0 0 45px white;
    font-size: 20px;
    padding: 10px
}



.diasSemana p{
    
    text-align: center;
    font-size: 30px;
}


.ejercicios {
    text-align: center;
    
}

.datosPersonales{
    padding: 10px;
}


#botonesRutinasClientes{
    padding: 20px;
}