body { 
  color : #000000; 
  background : #ffffff; 
  font-family : "Times New Roman", Times, serif;
  font-size : 12pt; 
}

a { 
  text-decoration : underline; 
  color : #0000ff; 
}
/*
a:link:after, a:visited:after {
content: " (" attr(href) ") ";
font-size: 70%;
}
*/
nav, sidebar, footer, header, aside { 
  display : none; 
  border-radius: 10px;
}

.encabezado{
  width: 50px;
  padding-top: 10px;
  padding-left: 10px;
}