﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Vistas/Perfil/perfilTrainerMaster.Master" AutoEventWireup="true" CodeBehind="mantenimientoHipertrofia.aspx.cs" Inherits="WebAppGym.Vistas.Perfil.mantenimientoHipertrofia" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

    <div class="contenedorDatos">
        <section id="dropRutinas">
            <asp:DropDownList ID="urlRutinas" runat="server"></asp:DropDownList>
        </section>
        <section id="sectNombre">
            <asp:TextBox ID="Nombre" runat="server" placeholder="Nombre"></asp:TextBox>
        </section>
        <section id="sectSeries">
            <asp:DropDownList ID="dropSeries" runat="server"></asp:DropDownList>
        </section>
        <section id="sectRepeticiones">
            <asp:DropDownList ID="dropRepeticion" runat="server"></asp:DropDownList>
        </section>
        <section id="sectDescanso">
            <asp:DropDownList ID="dropDescanso" runat="server"></asp:DropDownList>
        </section>
        <section id="sectModo">
            <asp:DropDownList ID="dropModo" runat="server"></asp:DropDownList>
        </section>
        <section id="SectAceptar">
            <asp:Button ID="Button1" runat="server" Text="Aceptar" OnClick="Button1_Click" />
        </section>
    </div>

    <div class="tablaMantenimientos">
        <asp:GridView ID="gvHipertrofia" runat="server" AutoGenerateDeleteButton="True" AutoGenerateEditButton="True" AutoGenerateColumns="False" CellPadding="4" DataKeyNames="id" ForeColor="#333333" GridLines="None" OnRowCancelingEdit="gvHipertrofia_RowCancelingEdit" OnRowDeleting="gvHipertrofia_RowDeleting" OnRowEditing="gvHipertrofia_RowEditing" OnRowUpdating="gvHipertrofia_RowUpdating" Style="text-align: center">
            <AlternatingRowStyle BackColor="White" ForeColor="#284775" />
            <Columns>
                <%--<asp:BoundField DataField="id" HeaderText="Id" />--%>
                <asp:BoundField DataField="nombre" HeaderText="Nombre" />
                <asp:TemplateField HeaderText="Tipo de Ejercicios">
                    <EditItemTemplate>
                        <asp:DropDownList ID="ddlTipoEjerGriew" runat="server">
                        </asp:DropDownList>
                    </EditItemTemplate>
                    <ItemTemplate>
                        <asp:Label ID="lblTipoEjerGriew" runat="server" Text='<%# Eval ("ejercicio") %>'></asp:Label>
                    </ItemTemplate>
                </asp:TemplateField>
                <asp:TemplateField HeaderText="Series">
                    <EditItemTemplate>
                        <asp:DropDownList ID="ddlSeriesGriew" runat="server">
                        </asp:DropDownList>
                    </EditItemTemplate>
                    <ItemTemplate>
                        <asp:Label ID="lblSeriesGriew" runat="server" Text='<%# Eval ("serie") %>'></asp:Label>
                    </ItemTemplate>
                </asp:TemplateField>
                <asp:TemplateField HeaderText="Repeticiones">
                    <EditItemTemplate>
                        <asp:DropDownList ID="ddlRepeticionesGriew" runat="server">
                        </asp:DropDownList>
                    </EditItemTemplate>
                    <ItemTemplate>
                        <asp:Label ID="lblRepeticionesGriew" runat="server" Text='<%# Eval ("repeticion") %>'></asp:Label>
                    </ItemTemplate>
                </asp:TemplateField>
                <asp:TemplateField HeaderText="Descanso">
                    <EditItemTemplate>
                        <asp:DropDownList ID="ddlDescansoGriew" runat="server">
                        </asp:DropDownList>
                    </EditItemTemplate>
                    <ItemTemplate>
                        <asp:Label ID="lblDescansoGriew" runat="server" Text='<%# Eval ("descanso") %>'></asp:Label>
                    </ItemTemplate>
                </asp:TemplateField>
                <asp:TemplateField HeaderText="Modo">
                    <EditItemTemplate>
                        <asp:DropDownList ID="ddlModoGriew" runat="server">
                        </asp:DropDownList>
                    </EditItemTemplate>
                    <ItemTemplate>
                        <asp:Label ID="lblModoGriew" runat="server" Text='<%# Eval ("modo") %>'></asp:Label>
                    </ItemTemplate>
                </asp:TemplateField>
                <asp:BoundField DataField="calorias" HeaderText="Calorias" ReadOnly="True" />
            </Columns>
            <EditRowStyle BackColor="#999999" />
            <FooterStyle BackColor="#5D7B9D" Font-Bold="True" ForeColor="White" />
            <HeaderStyle BackColor="#5D7B9D" Font-Bold="True" ForeColor="White" />
            <PagerStyle BackColor="#284775" ForeColor="White" HorizontalAlign="Center" />
            <RowStyle BackColor="#F7F6F3" ForeColor="#333333" />
            <SelectedRowStyle BackColor="#E2DED6" Font-Bold="True" ForeColor="#333333" />
            <SortedAscendingCellStyle BackColor="#E9E7E2" />
            <SortedAscendingHeaderStyle BackColor="#506C8C" />
            <SortedDescendingCellStyle BackColor="#FFFDF8" />
            <SortedDescendingHeaderStyle BackColor="#6F8DAE" />
        </asp:GridView>
    </div>

</asp:Content>
