﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Vistas/Perfil/perfilSocioMaster.Master" AutoEventWireup="true" CodeBehind="passwordSocio.aspx.cs" Inherits="WebAppGym.Vistas.Perfil.passwordSocio" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

           <div class="contenedorDatosSocios ">
        <div class="datosPersonales">
            <section id="pass1">
                <asp:TextBox ID="textPass1" runat="server" TextMode="Password" placeholder="Nueva clave"></asp:TextBox>
            </section>
            <section id="pass2">
                <asp:TextBox ID="textPass2" runat="server" TextMode="Password" placeholder="Confirmar clave"></asp:TextBox>
            </section>
            <section id="passBoton">
                <asp:Button ID="Button1" runat="server" Text="Aceptar" OnClick="Button1_Click"/>
            </section>
        </div>
    </div>



</asp:Content>
