﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Vistas/Perfil/perfilSocioMaster.Master" AutoEventWireup="true" CodeBehind="sociosRutinas.aspx.cs" Inherits="WebAppGym.Vistas.Perfil.sociosRutinas" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">





    <div class="contenedorRutinas">

        
        <%
            cargarRutinasClienteHipertrofia();
            cargarRutinasClienteCardio();
             %>


    </div>
</asp:Content>
