﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Vistas/Perfil/perfilTrainerMaster.Master" AutoEventWireup="true" CodeBehind="Trainer.aspx.cs" Inherits="WebAppGym.Vistas.Perfil.Trainer" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <style type="text/css">
        .auto-style1 {
            text-align: center;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <asp:UpdatePanel ID="UpdatePanel1" runat="server">
        <ContentTemplate>
            <div class="contenedorDatosSocios ">
                <div class="datosPersonales">
                    <p>Rutinas Personales</p>
                    <table align="center">
                        <tr>
                            <td>
                                <asp:Label ID="lblCliente" runat="server" Text="Cliente: "></asp:Label></td>
                            <td colspan="2">
                                <asp:DropDownList ID="ddlClientes" runat="server"></asp:DropDownList></td>


                        </tr>
                        <tr>
                            <td>
                                <asp:Label ID="lblDia" runat="server" Text="Día: "></asp:Label></td>
                            <td colspan="2">
                                <asp:DropDownList ID="ddlDias" runat="server">
                                    <asp:ListItem>Lunes</asp:ListItem>
                                    <asp:ListItem>Martes</asp:ListItem>
                                    <asp:ListItem>Miercoles</asp:ListItem>
                                    <asp:ListItem>Jueves</asp:ListItem>
                                    <asp:ListItem>Viernes</asp:ListItem>
                                    <asp:ListItem>Sabados</asp:ListItem>
                                    <asp:ListItem>Domingos</asp:ListItem>
                                </asp:DropDownList></td>
                        </tr>
                        <tr>
                            <td>
                                <asp:RadioButtonList ID="rblRutinas" runat="server" AutoPostBack="true" OnSelectedIndexChanged="rblRutinas_SelectedIndexChanged">
                                    <asp:ListItem Selected="True">Rutinas Hipertrofia</asp:ListItem>
                                    <asp:ListItem>Rutinas Cardio</asp:ListItem>
                                </asp:RadioButtonList></td>
                            <td></td>
                            <td class="auto-style1">
                                <asp:DropDownList ID="ddlHipertrofia" runat="server">
                                </asp:DropDownList><br />
                                <asp:DropDownList ID="ddlCardio" runat="server">
                                </asp:DropDownList>
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="botonesRutinasClientes">
                    <table align="center">
                        <tr>
                            <td>
                                <asp:Button ID="btnAceptar" runat="server" Text="Aceptar" OnClick="btnAceptar_Click" /></td>
                            <td>
                                <asp:Button ID="btnCancelar" runat="server" Text="Cancelar" OnClick="btnCancelar_Click" /></td>
                        </tr>
                    </table>
                </div>
            </div>
        </ContentTemplate>
    </asp:UpdatePanel>

    <div class="tablaMantenimientos">
        <asp:GridView ID="gvTrainer" runat="server" AutoGenerateDeleteButton="True" AutoGenerateColumns="False" CellPadding="4" DataKeyNames="idCliente,idHipertrofia,idCardio,dia" ForeColor="#333333" GridLines="None" Style="text-align: center" OnRowDeleting="gvTrainer_RowDeleting">
            <AlternatingRowStyle BackColor="White" ForeColor="#284775" />
            <Columns>
                <asp:BoundField DataField="idCliente" HeaderText="ID" />
                <asp:BoundField DataField="nombreCli" HeaderText="Nombre Cliente" />
                <asp:BoundField DataField="dia" HeaderText="Dia" />
                <asp:BoundField DataField="idHipertrofia" HeaderText="idHipertrofia" ReadOnly="True" Visible="False" />
                <asp:BoundField DataField="idCardio" HeaderText="idCardio" Visible="False" />
                <asp:BoundField DataField="nombreEjer" HeaderText="Rutina" />
            </Columns>
            <EditRowStyle BackColor="#999999" />
            <FooterStyle BackColor="#5D7B9D" Font-Bold="True" ForeColor="White" />
            <HeaderStyle BackColor="#5D7B9D" Font-Bold="True" ForeColor="White" />
            <PagerStyle BackColor="#284775" ForeColor="White" HorizontalAlign="Center" />
            <RowStyle BackColor="#F7F6F3" ForeColor="#333333" />
            <SelectedRowStyle BackColor="#E2DED6" Font-Bold="True" ForeColor="#333333" />
            <SortedAscendingCellStyle BackColor="#E9E7E2" />
            <SortedAscendingHeaderStyle BackColor="#506C8C" />
            <SortedDescendingCellStyle BackColor="#FFFDF8" />
            <SortedDescendingHeaderStyle BackColor="#6F8DAE" />
        </asp:GridView>
    </div>
</asp:Content>
