﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Vistas/Perfil/perfilTrainerMaster.Master" AutoEventWireup="true" CodeBehind="TrainerpasswordSocio.aspx.cs" Inherits="WebAppGym.Vistas.Perfil.TrainerpasswordSocio" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

          <div class="contenedorDatosSocios ">
        <div class="datosPersonales">
            <section>
                <asp:TextBox ID="Textcedula" runat="server" placeholder="Cedula"></asp:TextBox>
            </section>
            <section id="passBoton">
                <asp:Button ID="Button1" runat="server" Text="Resetear!!!" OnClick="Button1_Click"/>
            </section>
        </div>
    </div>
</asp:Content>
