﻿<%@ Page Title="" Language="C#" MasterPageFile="../../Perfil/perfilTrainerMaster.Master" AutoEventWireup="true" CodeBehind="mantHipertofia.aspx.cs" Inherits="WebAppGym.Vistas.Trainer.Mantenimientos.mantHipertofia" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
</asp:Content>
