﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Vistas/Rutinas/rutinasMaster.Master" AutoEventWireup="true" CodeBehind="rutina01Brazos.aspx.cs" Inherits="WebAppGym.Vistas.Rutinas.rutina01" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="asp" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

    <div class="imagenesRutina">


        <script runat="Server" type="text/C#">
            [System.Web.Services.WebMethod]
            [System.Web.Script.Services.ScriptMethod]
            public static AjaxControlToolkit.Slide[] GetSlides()
            {
                return new AjaxControlToolkit.Slide[] { 
            new AjaxControlToolkit.Slide("images/rutina01Brazos/01.png", "Maneras de Realizar Curl de Biceps con Mancuernas", "Predominancia del trabajo del biceps", "images/rutina01Brazos/01.png"),
            new AjaxControlToolkit.Slide("images/rutina01Brazos/02.png", "Maneras de Realizar Curl de Biceps con Mancuernas", "Trabajo intenso del braquiorradial", "images/rutina01Brazos/02.png"),
            new AjaxControlToolkit.Slide("images/rutina01Brazos/03.png", "Maneras de Realizar Curl de Biceps con Mancuernas", "Trabajo principal del biceps y del braquial", "images/rutina01Brazos/03.png")};
            }
    </script>
        <div style="text-align: center">
            <asp:Label runat="Server" ID="imageTitle" class="slideTitle" /><br />
            <asp:Image ID="Image1" runat="server"
                Height="300"
                Width="200"
                Style="border: 1px solid black;" />
            <asp:Label runat="server" ID="imageDescription" class="slideDescription"></asp:Label><br />
            <br />
            <asp:Button runat="Server" ID="prevButton" Text="Prev" Font-Size="Larger" />
            <asp:Button runat="Server" ID="playButton" Text="Play" Font-Size="Larger" />
            <asp:Button runat="Server" ID="nextButton" Text="Next" Font-Size="Larger" />
            <asp:SlideShowExtender ID="SlideShowExtender1" runat="server"
                TargetControlID="Image1"
                SlideShowServiceMethod="GetSlides"
                AutoPlay="true"
                ImageTitleLabelID="imageTitle"
                ImageDescriptionLabelID="imageDescription"
                NextButtonID="nextButton"
                PlayButtonText="Play"
                StopButtonText="Stop"
                PreviousButtonID="prevButton"
                PlayButtonID="playButton"
                Loop="true" SlideShowAnimationType="SlideRight" />
        </div>
    </div>

    <div class="descripcionRutina">
        <span>Sentado, una mancuerna en cada mano cogindas en semipronacion:
            <ul>
                <li>Inspira y flexiona los codos efectuando una rotacion externa de la muñeca antes de que los antebrazos alcancen la horizontal.</li>
                <li>Finalizar la flexion elevando los codos, espirar al final del movimiento.</li>
            </ul>
            Este ejercicio solicita los musculos, braquiorradial(supinador largo), braquial anterior, bíceps braquial, deltoides anterior y en menor medida, el coracobraquial y el haz clavicular del pectoral mayor.
        </span>
    </div>

</asp:Content>
